

@media (max-width: 768px) {
            .slide-item {
                min-width: 250px;
                height: 220px;
            }

            .nav-button {
                width: 35px;
                height: 35px;
            }

            .nav-prev {
                left: -10px;
            }

            .nav-next {
                right: -10px;
            }
        }