@forward'./app/mobile';
@forward'./slider/mobile';
@forward'./upcomingdays/mobile';
@forward'./calanderHeader/mobile';
@forward'./calanderDays/mobile';
@forward'./calender/mobile';
@forward'./dateConverter/mobile';
@forward'./holidayCard/mobile';
