@forward'./layout/mobile';
@forward'./app/mobile';
@forward'./grid/mobile';
@forward'./nepalidate/mobile';
@forward'./calendarNav/mobile';
@forward'./slider/mobile';
@forward'./upcomingdays/mobile';
@forward'./calanderHeader/mobile';
@forward'./calanderDays/mobile';
@forward'./calender/mobile';
@forward'./dateConverter/mobile';
@forward'./holidayCard/mobile';
@forward'./eventPopup/mobile';
