  .calendar {
        margin-bottom: 8px;


        .calendar-days {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            width: 100%;
            max-width: 1101px;
            margin: 0 auto;
            padding: 0;
            list-style: none;
            background: #033f99ad;
            border: 1px solid #ebebeb;
        }
    .responsive {
        display: none;
    }
        .calendar-days li {
            text-align: center;
            padding: 10px 4px;
            border-right: 1px solid #ebebeb;
        }

        .calendar-days li:last-child {
            border-right: none;
        }

        .calendar-days .np {
            display: block;
            font-size: 14px;
            color: #ffffff;
        }

        .calendar-days .en {
            display: block;
            font-size: 11px;
            color: #dbdbdb;
        }
    }
